.banner-notice {
  --errpadding: 20px;

  margin: var(--errpadding);
  padding: var(--errpadding);
  border-radius: var(--pad);
  background-color: var(--warning-bg-color);
  color: var(--warning-fg-color);
  display: flex;
  flex-direction: row;
  gap: var(--pad);
  flex-wrap: wrap;
}

.banner-notice-content {
  display: flex;
  flex-direction: column;
  max-width: calc(100% - var(--errpadding));
}

.banner-notice-title {
  font-weight: bold;
}

.banner-notice-byline {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.banner-notice-left {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  overflow: hidden;
  gap: var(--pad);
}
