

.inline-badge {
  border-radius: 14px;
  padding: 3px var(--pad);
  display: inline-block;
  font-size: 80%;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  gap: var(--halfpad);
}

.inline-badge.badge-secondary {
  background-color: var(--button-secondary-hover-background);
  color: var(--button-secondary-foreground);
}

.inline-badge.badge-primary {
  background-color: var(--button-primary-hover-background);
  color: var(--button-primary-foreground);
}
