

.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: var(--pad);
  margin-left: var(--halfpad);
  gap: var(--pad);
}

.top-bar .button-group {
  display: flex;
  gap: var(--pad);
  align-items: center;
}
